@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: #292929;
  }

  h1 {
    font: 100px 'Nunito', sans-serif;
    color: #02de6c;
    margin: 0px;
    padding-bottom: 10px;
    letter-spacing: 10px;
  }

  h3 {
    font: 24px 'Nunito', sans-serif;
    color: #00CF64;
  }

  label {
    font: 24px 'Nunito', sans-serif;
    color: #04b85a;
    margin: 10px;
  }

  .box {
    background-color: #F7F7F7;
    font: 24px 'Nunito', sans-serif;
    color: #04b85a;
    margin: 10px;
    border: 2px solid #04b85a;
  }

  .button {
    background-color: #02de6c;
    font: 24px 'Nunito', sans-serif;
    color: #292929;
    border-radius: 8px;
    padding: 5px 8px;
  }

  .options {
    font: 16px 'Nunito', sans-serif;
    color: #04b85a;
    margin: 10px;
    padding-left: 0px;
    margin-left: 0px;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .indent {
    margin-left: 15px;
  }

  @media only screen and (max-device-width: 1366px) {

    h1 {
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    h3 {
      font-size: 24px;
      text-align: center;
    }

    label, .box {
        font-size: 18px;
        padding: 0px;
        margin-left: 5%;
        margin-right: 0px;
        margin-top: 1%;
    }

    .options {
        font-size: 16px;
        padding: 0px;
        margin-left: 5%;
        margin-right: 0px;
        margin-top: 1%;
    }

    .button {
      margin-left: 37.5%;
    }
}